*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

@font-face{
    font-family: 'switzer-black';
    /* src: url('../fonts/Switzer_Complete/Fonts/WEB/fonts/Switzer-Black.ttf'); */
    src: url('../fonts/Switzer-Black.ttf');
}

.navbar-brand, h2{
    font-family: 'switzer-black';
    font-size: 26px;
    /* color: white; */
}

:root{
    --background: #2734df;
}

body{
    background-color: azure;
    /* background-color: var(--background); */
}
nav{
    background-color: var(--background);
    color: white !important;
}
.navbar-brand, .nav-item a{
    color: white;
}
h2{
    color: azure;
}

.cont{
    margin: auto;
    /* width: 50%; */
    /* background-color: var(--background); */
    border-radius: 5px;
    padding: 2%;
    color: white;
}
.cont form{
    padding: 50px;
    background-color: var(--background);
}

.cont form input, select{
    margin: 3px;
}
.logo{
    margin: auto;
    width: 100%;
}

.shida-dev{
    margin: 20px;
}

thead th{
    color: white;
}
tbody:hover{
    cursor:crosshair;
}

footer{
    /* bottom: 0; */
    /* position: fixed; */
    background-color: #2734df;
    color: white;
}
main a {
    color: aqua;
}
main a:hover{
    color: rgb(151, 201, 241);
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */