{% extends 'structure.html' %}
{% block main %}


    <h2 class="text-center">Kindly Login</h2>
    <div class="container logo">
        <img class="image-fluid " src="./images/R.png" alt="">

    </div>
    <main class="container">

        <form action="/register_info" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.mannumber(placeholder='Please Enter Mannumber', class="form-control") }}
            {{ form.firstname(placeholder='please Enter firstname', class="form-control") }}
            {{ form.secondname(placeholder='please Enter secondname', class="form-control")}}
            {{ form.email(placeholder='please Enter email', class="form-control")}}
            {{ form.role(placeholder='please Enter role', class="form-control")}}
            {{ form.password(placeholder="Please Password", class="form-control") }}
            {{ form.submit(class='w-50 btn btn-primary') }}
            <p class="bg-success">{{ retrieve }}</p>
            <p>Are you admin? Kindly create accounts here</p>
        </form>

    </main>

{% endblock main %} 