{% extends 'structure.html' %}
{% block main %}
    <h2 class="text-center">Welcome To The Dashboard</h2>
    <div class="container logo d-flex justify-content-center">
        <img class="image-fluid " src="../static/images/R.png" alt="">
    </div>
    <div class="container">
        <h4>Problems</h4>
        <div class="card w-60">
            <div class="card-title">
                <h5>{{ request_details.request_title }}</h5>
            </div>
            <div class="card-text">
                {{ request_details.request_info }}
            </div>
            <button class="btn btn-primary">Give Solution</button>
        </div>
        <h4>Solutions</h4>
        <div class="row">
            <div class="card col-md-5">
                <form action="/" method="POST" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    {{ form.request(placeholder='Enter request ID', class="form-control disabled", disabled=True) }}
                    {{ form.solution(placeholder='Type in solution', class="form-control") }}
                    {{ form.submit(value='Provide Solution', class="btn btn-info") }}
                </form>
            </div>
            <div class="card col-md-5">
                <div class="card-title">
                    <h5>{{ request_details.request_title }}</h5>
                </div>
                <div class="card-text">
                    {{ request_details.request_info }}
                </div>
            </div>
        </div>
    </div>
{% endblock main %}