{% extends 'structure.html' %}
{% block main %}
    <h2 class="text-center">Welcome To The Dashboard</h2>
    <div class="container logo d-flex justify-content-center">
        <img class="image-fluid " src="../static/images/R.png" alt="">
    </div>
    <div class="container-fluid">
        <div class="row cont-main">
            <main class="col-md-5 shida-dev">
                <h3>Requests</h3>
                <h4>Kindly Make a request</h4>
                <form action="/request_info" method="POST" enctype="multipart/form-data">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <ul>
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <strong>Oops!</strong> {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                    {{ form.csrf_token }}
                    {{ form.request_title(placeholder='Enter Request Title', class="form-control") }}
                    {{ form.request_info(placeholder='Type in your request', class="form-control") }}
                    {{ form.submit(value='Send Request', class="btn btn-success") }}
                    {{ retrieve }}
                    <p>When a request is made, it will appear below</p>
                </form>
                {% for info in info_f %}
                <div class="row">
                    <h3 class="">{{ info.request_title }}</h3>
                    <p class="">{{ info.request_info }}</p>
                    <div class="d-flex justify-content-between">
                        <span>
                            Time requested:
                        </span>
                        <span>
                            {{ info.feedback_time }}
                        </span>
                    </div>
                    <div class="col-md-6">
                        {% if session['role'] == 'ict_user' or session['role'] == 'ict_officer' %}
                        <a href="/request/{{ info.request_id }}">
                            <button class="btn btn-light">View Problems</button>                         
                        </a>
                        {% endif %}
                        <a href="/delete_request/{{info.request_id}}">
                            <button class="btn btn-danger">delete</button>                         
                        </a>
                    </div>
                </div>
                {% endfor %}
            </main>
            <main class="col-md-5 shida-dev">
                <h3>Solutions</h3>
                {% for info in info_f %}
                <a href="/request/{{ info.request_id }}" class="sol-in">
                    <div>
                        <h3>{{ info.request_title }}</h3>
                        <p>{{ sol(info.request_id)}}</p>
                    </div>
                </a>                   
                {% endfor %}
                
                <div>
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem fugit sit tenetur repudiandae sapiente eos ad hic, tempore eligendi deserunt, atque a sint cupiditate excepturi reprehenderit quo consequatur dicta velit?</p> -->
                    <!-- <button class="btn btn-warning">Seen</button> -->
                </div>
            </main>
        </div>
    </div>
  {% endblock main %}
